<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>管理员后台</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../lib/sidebar.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//at.alicdn.com/t/font_529525_39813guke8h93sor.css"
    />
    <!--<link rel="stylesheet" href="lib/global.css">-->
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib/fontawesome.css" />
    <link rel="stylesheet" href="../lib/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="../lib/global.css" />

    <link rel="stylesheet" href="../lib/index.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <i class="iconfont icon-zhuye"></i>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index"
              >主页<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">学籍查询</a>
          </li>
          <li>
            <a class="nav-link" href="#">学历查询</a>
          </li>
          <li>
            <a class="nav-link" href="#">在线验证</a>
          </li>
          <li>
            <a class="nav-link" href="#">学历与成绩认证</a>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
        <!--<input class="form-control mr-sm-2" type="search" placeholder="搜索..." aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">查询</button>-->
        <!--</form>--><a href="/stdaccountedit" class="btn-link">用户信息</a
        ><a id="logout" href="#" class="btn-link text-danger">退出登录</a>
      </div>
    </nav>
    <div class="container">
      <br />
      <h2>用户中心</h2>
      <p class="border-bottom border-dark"></p>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >统考硕士招生</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >推免生招生</a
          >
        </li>
      </ul>
      <br />
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="row text-center">
            <div class="col-md-3 p-4 border center-hover">
              <a href="/login">初试成绩</a>
              <br />
              <span id="span1" class="noinfor-text">已开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/login">网报消息</a>
              <br />
              <span id="span2" class="noinfor-text">未开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/login">在线咨询</a>
              <br />
              <span id="span3" class="noinfor-text">未开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/stdmbaindex">专业目录</a>
              <br />
              <span id="span4" class="infor-text">已开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/mbaindex">网报公告</a>
              <br />
              <span id="span5" class="noinfor-text">未开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/mbaindex">网上调剂</a>
              <br />
              <span id="span6" class="noinfor-text">未开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/zhunkao">准考证下载</a>
              <br />
              <span id="span7" class="noinfor-text">未开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/stdenroll">网上报名</a>
              <br />
              <span id="span8" class="noinfor-text">未开通</span>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="row text-center">
            <div class="col-md-3 p-4 border center-hover">
              <a href="/mbaindex">录取信息公开</a>
              <br />
              <span class="noinfor-text">未开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/mbaindex">网报公告</a>
              <br />
              <span class="noinfor-text">未开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/mbaindex">网上调剂</a>
              <br />
              <span class="noinfor-text">未开通</span>
            </div>
            <div class="col-md-3 p-4 border center-hover">
              <a href="/stdenroll">网上报名</a>
              <br />
              <span class="noinfor-text">未开通</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="foot" style="bottom: 0;">
      <div class="text-center">
        <p>由王瑞,郑秋果,张嘉欣,杨正谦制作</p>
        <p>Copyright © 2003-2018 系统分析师们 All Rights Reserved</p>
      </div>
    </footer>
    <script type="text/javascript" src="../lib/jquery-3.3.1.js"></script>

    <script
      type="text/javascript"
      src="../lib/bootstrap.bundle.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../lib/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../lib/dataTables.bootstrap4.min.js"
    ></script>

    <script
      type="application/javascript  "
      src="../lib/jquery.cookie.js"
    ></script>
    <script>
      // var flag=$.cookie("islogin")
      // if (flag=='no'||flag==null) {
      //     alert("请登录")
      //     window.location.href='/stdlogin'
      // }
    </script>
    <script src="../lib/global.js"></script>
    <script src="../lib/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function() {
        switch ($.cookie("key")) {
          case null:
            for (i = 2; i < 6; i++) {
              $("#span" + i).removeClass("noinfor-text");
              $("#span" + i).html("已开通");
              $("#span" + i).addClass("infor-text");
            }
            break;
          case "1":
            for (i = 2; i < 6; i++) {
              $("#span" + i).removeClass("noinfor-text");
              $("#span" + i).html("已开通");
              $("#span" + i).addClass("infor-text");
            }
            break;
          case "2":
            for (i = 2; i < 6; i++) {
              $("#span" + i).removeClass("noinfor-text");
              $("#span" + i).html("已开通");
              $("#span" + i).addClass("infor-text");
            }
            $("#span8").html("已开通");
            $("#span8").addClass("infor-text");
            break;
          case "3":
            for (i = 2; i < 6; i++) {
              $("#span" + i).removeClass("noinfor-text");
              $("#span" + i).html("已开通");
              $("#span" + i).addClass("infor-text");
            }
            $("#span7").html("已开通");
            $("#span7").addClass("infor-text");
            break;
          case "4":
            for (i = 2; i < 6; i++) {
              $("#span" + i).removeClass("noinfor-text");
              $("#span" + i).html("已开通");
              $("#span" + i).addClass("infor-text");
            }
            break;
          case "5":
            for (i = 1; i < 7; i++) {
              $("#span" + i).removeClass("noinfor-text");
              $("#span" + i).html("已开通");
              $("#span" + i).addClass("infor-text");
            }
        }
      });
    </script>
  </body>
</html>
