*{
    margin: 0px;
    padding:0px;
}
a{
  text-decoration: none;
}
.div-body .r-main .group{
  width: 68%;
  float: left;
  height: auto;
  margin-left: 2%;
}
.div-body .r-main .group .c-title{
  color: #272C2E;
  font-size: 22px;
  margin-left:30px ;
}
.div-body .r-main .group .c-pic{
  width: 100%;
  height: 250px;
  }
.div-body .r-main .group .c-detail{
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  margin-top: 25px; 
  padding-top: 25px; 
}
.div-body .r-main .group .c-detail .c-type span{
  margin-left: 25%;
  font-size: 12px;
  font-weight: 600;
  color: #6e6e6e;
}
.div-body .r-main .group .c-detail p{
  color: #717171;
  font-size: 14px;
  margin-left: 25px;
  line-height: 1.5em;
  font-weight: 600;
}
.div-body .r-main .group .capter p{
  color: #717171;
  font-size: 14px;
  margin-left: 25px;
  line-height: 1.5em;
  font-weight: 600;
}
.div-body .r-main .group .c-detail .c-infor{
  text-indent:25px;
  padding-top: 20px;
  width: 100%;
  word-wrap:break-word;
  font-size: 13px;
  color: #9E9E9E;
  line-height: 20px;
}
.div-body .r-main .group .c-detail .c-points{
  padding-top: 20px;
}
.c-detail .c-points .c-ul{
  height: auto;
}
.c-detail .c-points .c-ul li{
  font-size: 16px;
  list-style: none;
  float: left;
  margin-left: 5%;
  height: 30px;
}
.div-body .r-main .group .capter{
  background-color: #f7f7f7;
  padding-bottom: 20px;
}
.clear{
  clear: both;
}
.div-body .r-main .r-list{
  width: 26%;
  height: auto;
  background-color: #f7f7f7;
  /* background-color: #272c2e; */
  float: right;
  margin-top: 15px;
  margin-right: 2%;
  height: auto;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: -50px;
}
.div-body .r-main .r-list .tea-infor{
  font-size: 20px;
  color: #181818;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 15px;
}
.div-body .r-main .r-list .tea-img{
  width: 120px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  /* left: 50%;
  margin-left: -60px;
  position: absolute;
  margin-top: 50px; */
}
.div-body .r-main .r-list .teachers{
  text-indent:25px;
  padding-top: 20px;
  width: 80%;
  word-wrap:break-word;
  font-size: 13px;
  color: #272c2e;
  margin: 0 auto;
}
.active{
  background-color:rgba(0,0,0,.4) !important;
  color: #21DEEF !important;
}
.subNavBoxTwo{
  width:100%;
  /*text-align: center; */
  margin-top: 5px;
}
.subNav{
  cursor:pointer;
  font-size:13px;
  color: #BBBBBB;
  line-height:28px;
  font-weight: 600;
    padding-left: 20%;
}
.subNav:hover{
    background-color: rgba(0, 0, 0, .6) !important;
    color: #21DEEF !important;
}
.text:hover{
  background-color:rgba(0, 0, 0, .6) !important;
  /* color: #21DEEF !important; */
}
.navContent{
  display: none;
  width: 100%;
}
.navContent li{
  list-style: none;
}
.navContent li a:hover{
    background-color: rgba(0, 0, 0, .6);
    color: #21DEEF;
    height: 28px;
    width:100%;
    color: #BBBBBB;
}
.navContent li a{
  width: 100%;
  height: 28px;
  font-size:13px;
  line-height:28px;
  color: #BBBBBB;
  font-weight: 600;
  list-style: none;
  /*text-align: center;*/
    padding-left: 30%;
    text-decoration: none;
    display: block;
}
hr{
  height: 2px;
  color: rgba(0, 0, 0, 0.4)
}