<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>管理员后台</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <!-- <link rel="shortcut icon" href="img/favicon.ico"/> -->
    <link rel="stylesheet" type="text/css" href="../lib/sidebar.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//at.alicdn.com/t/font_529525_39813guke8h93sor.css"
    />
    <!--<link rel="stylesheet" href="lib/global.css">-->
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib/fontawesome.css" />
    <link rel="stylesheet" href="../lib/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="../lib/global.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">图标</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >主页 <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown float-right">
            <a
              class="nav-link dropdown-toggle "
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              设置
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-3">
        <div class="leftnav">
          <div class="nav-top">
            <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)">
              <span
                ><i class="iconfont icon-guanliyuan"></i
                ><a href="#">管理员</a></span
              >
            </div>
          </div>
          <ul>
            <li class="left-nav-item">
              <a href="#" target="right"
                ><i class="iconfont icon-zhuye"></i><span>主页</span></a
              >
            </li>

            <li class="left-nav-item">
              <a href="javascript:;"
                ><i class="iconfont icon-teacher"></i><span>考生管理</span
                ><i class="iconfont icon-more"></i
              ></a>
              <ul>
                <li>
                  <a href="#" id="addgonggaolink"><span>添加公告</span></a>
                </li>
                <li>
                  <a href="#" id="showkaosheng"><span>考生列表</span></a>
                </li>
              </ul>
            </li>

            <li class="left-nav-item">
              <a href="javascript:;" id="logout"
                ><i class="iconfont icon-sign-out"></i><span>注销</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8" id="showkaoshengtable" style="display: none">
        <h2 class="text-center">欢迎登陆</h2>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="pills-home-tab"
              data-toggle="pill"
              href="#pills-home"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >待审核</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link is-sure"
              id="pills-profile-tab"
              data-toggle="pill"
              href="#pills-profile"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >审核通过</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link un-sure"
              id="pills-contact-tab"
              data-toggle="pill"
              href="#pills-contact"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >审核不通过</a
            >
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
            <table
              id="daishenhe"
              class="table table-striped table-bordered"
              style="width:100%"
            >
              <thead>
                <tr>
                  <th>id</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>考试方式</th>
                  <th>专项计划</th>
                  <th>报考院系名称</th>
                  <th>学习方式</th>
                  <th style="width: 220px; ">操作</th>
                </tr>
              </thead>
            </table>
          </div>
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <table
              id="shenhetongguo"
              class="table table-striped table-bordered"
              style="width:100%"
            >
              <thead>
                <tr>
                  <th>id</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>考试方式</th>
                  <th>专项计划</th>
                  <th>报考院系名称</th>
                  <th>学习方式</th>
                  <th style="width: 180px; ">操作</th>
                </tr>
              </thead>
            </table>
          </div>
          <div
            class="tab-pane fade"
            id="pills-contact"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
          >
            <table
              id="shenhebutongguo"
              class="table table-striped table-bordered"
              style="width:100%"
            >
              <thead>
                <tr>
                  <th>id</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>考试方式</th>
                  <th>专项计划</th>
                  <th>报考院系名称</th>
                  <th>学习方式</th>
                  <th style="width: 180px; ">操作</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-center">
      <p>由王瑞,郑秋果,张嘉欣,杨正谦制作</p>
      <p>Copyright © 2003-2018 系统分析师们 All Rights Reserved</p>
    </div>

    <!-- 按钮触发模态框 -->
    <!-- 模态框（Modal） -->
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
              学生信息修改
            </h4>
          </div>
          <div class="modal-body" id="form-body">
            <form class="form-horizontal" role="form">
              <div class="form-group" style="display: none">
                <label for="lastname" class="col-sm-5 control-label">id</label>
                <div class="col-sm-10">
                  <input type="text" disabled class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >姓名</label
                >
                <div class="col-sm-10">
                  <input type="text" disabled class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >姓名拼音</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入姓名拼音"
                  />
                </div>
                <div class="form-group">
                  <label for="lastname" class="col-sm-5 control-label"
                    >考试方式</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="请输入考试方式"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastname" class="col-sm-5 control-label"
                    >政治面貌</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="请输入政治面貌"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastname" class="col-sm-5 control-label"
                    >招生单位</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="请输入招生单位"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastname" class="col-sm-5 control-label"
                    >专项计划</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="请输入专项计划"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >民族</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入民族"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >报考院系所名称</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入报考院系所名称"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >报考专业</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入报考专业"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >考试科目</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入考试科目"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >学习方式</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入学习方式"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >研究方向</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入研究方向"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >报考点名称</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入报考点名称"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label"
                  >报考点所在省市</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="请输入报考点所在省市"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              关闭
            </button>
            <button type="button" class="btn btn-primary makesure">
              提交更改
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal -->
    </div>
    <script type="text/javascript" src="../lib/jquery-3.3.1.js"></script>

    <script
      type="text/javascript"
      src="../lib/bootstrap.bundle.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../lib/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../lib/dataTables.bootstrap4.min.js"
    ></script>
    <!-- <script src="js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../lib/sidebar.js"></script>
    <script type="text/javascript" src="../js/admininex.js"></script>
  </body>
</html>
