<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程</title>
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/style.css" rel='stylesheet' type='text/css' media="all" />
    <link rel="stylesheet" type="text/css" href="css/course.css">
    <!-- <link href="css/lrtk.css" rel='stylesheet' type='text/css' media="all" /> -->
    <!--[if !IE]><!--> <script src="lib/jquery/jquery-3.2.1.js"></script> <!--<![endif]-->
    <!--[if IE]> <script src="js/jquery-1.11.3.min.js"></script> <![endif]--> 
    <script src="js/jquery.cookie.js"></script>
    <script src="js/md5.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="js/addLogin.js"></script>
    <script src="js/course.js"></script>

</head>
<body>
<!-- header begin -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home"><h1><img src="images/logo1.png" alt="" /></h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="top-search">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <input type="submit" value=" ">
                </form>
            </div>
            <div class="header-top-right user hiddens">
                <div class="file">
                    <a href="teacher.html">教师团队</a>
                </div>
                <div class="signin">
                    <a href="javascript:void(0);" class="play-icon popup-with-zoom-anim user-oper li " data-toggle="modal" data-target="#myModalSign">注册</a>
                </div>
                <div class="signin">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#myModaLogin" class="play-icon popup-with-zoom-anim user-oper li user-dl">登录</a>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-top-right person hiddens">
                <div class="file">
                    <a href="teacher.html">教师团队</a>
                </div>
                <p></p>
                <div class="signin">
                    <a href="javascript:void(0);" class="play-icon popup-with-zoom-anim user-oper li logout">注销</a>
                </div>
            </div>
        </div>

        <div class="clearfix"> </div>
</nav>
<!-- header end -->

<!-- body begin -->
<div class="div-body">
    <div class="l-navbar">
        <div class="subNavBox">
            
        </div>
    </div>
    <div class="r-main">
        <div class="group">
            <p class="c-title">
            </p>
            <div class="c-pic">
                <img width="100%" height="100%" src=""/>
            </div>
            <div class="c-detail">
                <p>课程介绍</p>
                <div class="c-type">
                    <span class="span-one"></span>
                    <span class="span-two"></span>
                </div>
                <div class="c-infor">
                    <hr style="height: 2px;background-color:rgba(0,0,0,0.2)" />
                </div>
                <div class="c-text" style="margin-top:25px;">
                    <p>教学文件</p>
                    <ul>
                        <div class="clear"></div>
                    </ul>
                    <hr style="height: 2px;background-color:rgba(0,0,0,0.2)" />
                </div>

                <div class="c-points">
                    <p>课程知识点</p>
                    <ul id="c-points" class="c-ul">
                        
                        <div class="clear"></div>
                    </ul>
                    <hr style="height: 2px;background-color:rgba(0,0,0,0.2)" />
                </div>
            </div>
            
            <div class="capter">
                <p>
                    课程章节
                </p>
                <div class="subNavBoxTwo"></div>
            </div>
        </div>
        <div class="r-list">
            <p class="tea-infor">教师简介：</p>
        </div>
        <div class="clear"></div>
        <div class="about">
            <center>
                <span>关于我们</span>
                <span>联系我们</span>
                <span>关于网站</span>
                <span>网站建议</span>
            </center>

        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- body end -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="height: 500px;">
                <div style="width: 100%; height: 100%; border: 0px none;display: none;">
                </div>
                <iframe name='' frameborder='0' style="width: 100%; height: 100%; border: 0px none;" src=""></iframe>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

</body>
</html>